*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(229, 121, 230);
    height: 100px;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
}

.container{
    height: 550px;

}

.one{
    background-color: rgb(225, 214, 122);
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
}

.two{
    background-color: rgb(1, 134, 253);
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;

}

.two::after {
    content: "";
    display: table;
    clear: both;
}

footer{
    background-color: rgb(136, 1, 254);
    height: 50px;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
}

div > *{
    background-color: rgb(171, 207, 231 );
}

.primo{
    height: 80px;
    width: 100%;
    margin-bottom: 25px;
}

.secondo{
    height: 420px;
    width: 20%;
    float: left;
    margin-right: 3%;
}

.terzo  {
    height: 420px;
    width: 54%;
    float: left;
    margin-right: 3%;
}

.quarto{
    height: 420px;
    width: 20%;
    float: left;
}